.header__wrapper { 
    gap: 3rem;
    font-family: var(--font-mono);
    padding: 1rem 3rem;
    animation: slide-in-bottom 0.7s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.hamburger {
    color: var(--green);
    font-size: 1.6rem;

    position: absolute;
    top: 1rem;
    right: 1rem;
}